*.vs
*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*

packages/*

Icon?
.DS_Stor*
*.RPP-bak

dependencies/*